<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatisUtils.AnchorCreditMapper">
    <resultMap id="baseResultMap" type="mybatisUtils.AnchorCreditDO">
        <result column="id" property="id"/>
        <result column="anchor_uid" property="anchorUid"/>
        <result column="score_period_id" property="scorePeriodId"/>
        <result column="credit_score" property="creditScore"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="last_id" property="lastId"/>
    </resultMap>
    <sql id="Base_Column_List">
		id, anchor_uid, score_period_id, credit_score, state, create_time, update_time, last_id
	</sql>
    <sql id="condition">
        <if test="data!=null">
            <if test="data.anchorUid!=null">
				AND anchor_uid = #{data.anchorUid}
			</if>
            <if test="data.scorePeriodId!=null">
				AND score_period_id = #{data.scorePeriodId}
			</if>
            <if test="data.creditScore!=null">
				AND credit_score = #{data.creditScore}
			</if>
            <if test="data.state!=null">
				AND state = #{data.state}
			</if>
            <if test="data.createTime!=null">
				AND create_time = #{data.createTime}
			</if>
            <if test="data.updateTime!=null">
				AND update_time = #{data.updateTime}
			</if>
            <if test="data.lastId!=null">
				AND last_id = #{data.lastId}
			</if>
        </if>
    </sql>
    <sql id="setField">
        <set>
            <if test="anchorUid!=null"> anchor_uid = #{anchorUid},</if>
            <if test="scorePeriodId!=null"> score_period_id = #{scorePeriodId},</if>
            <if test="creditScore!=null"> credit_score = #{creditScore},</if>
            <if test="state!=null"> state = #{state},</if>
            <if test="createTime!=null"> create_time = #{createTime},</if>
            <if test="updateTime!=null"> update_time = #{updateTime},</if>
            <if test="lastId!=null"> last_id = #{lastId},</if>
        </set>
    </sql>
    <insert id="add" parameterType="mybatisUtils.AnchorCreditDO">
		insert into t_anchor_credit
 		<include refid="setField"/>
	</insert>
    <delete id="remove">
		DELETE FROM t_anchor_credit
 		WHERE id = #{id}
	</delete>
    <update id="update" parameterType="mybatisUtils.AnchorCreditDO">
		update t_anchor_credit
 		<include refid="setField"/> 
		WHERE id = #{id}
	</update>
    <select id="findById" parameterType="Long" resultMap="baseResultMap">
		SELECT
			<include refid="Base_Column_List"/>
		FROM 
			t_anchor_credit 
		WHERE id=#{id}  
		limit 1 
	</select>
    <select id="findByIdList" resultMap="baseResultMap">
		SELECT
			<include refid="Base_Column_List"/>
		FROM 
			t_anchor_credit
		WHERE id in
		<foreach close=")" collection="idList" item="itemId" open="(" separator=",">
			#{itemId}
		</foreach>
	</select>
    <select id="count" resultType="Long">
		SELECT
			count(*) as total
		FROM 
			t_anchor_credit
		WHERE 1=1
		<include refid="condition"/>
	</select>
    <select id="queryPage" resultMap="baseResultMap">
		SELECT
			<include refid="Base_Column_List"/>
		FROM 
			t_anchor_credit
		WHERE 1=1
		<include refid="condition"/>
		limit #{left},#{pageSize}
	</select>
</mapper>
